<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>NAU Ski & Snowboard</title>
        
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
        
        <!-- Google Font-->
        <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        
        <!-- favicon -->
        <link rel="icon" href="../img/logo.png">
    </head>
    <body id="about-body">
      <div class="about-bg">
        <!--<span class="bottom-part">-->
                <div class="arrow arrow-first"></div>
                <div class="arrow arrow-second"></div>
                <!--</span>-->
      <header id="main-header">
        <nav class="navbar navbar-fat navbar-clean">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand" href="/home"><img id="logo" src="../img/logo.png"></a>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/home">Home</a></li>
              <li><a href="/events">Events</a></li>
              <li><a href="/about" class="active">About Us</a></li>
            </ul>
          </div><!-- /.container-fluid -->
        </nav>
      </header>