<% include ./partials/aheader %>
        <div class="container">
            <div class = "row">
                <div class="col-lg-12">
                    <div id="about-title">
                        <h1>About Us</h1>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container text-center" id="info">
        <h1>Info</h1>
        <hr>
        
        <p>
            We are the Ski and Snowboard Club at Northern Arizona University! We are dedicated to sharing the art of skiing and snowboarding with anyone interested! 
            We also have a competition team that competes against other colleges around the nation. We also do many activities in the off season including cliff jumping, bonfires, and camping!
        </p>
    </div>
    
    <hr>
    
    <div class="container-fluid" id="officers">
        <h1>Officers</h1>
        <hr>
        <div class="row text-center" id="officer-pics">
            <div class="col-md-4 col-sm-6">
                <img src="../img/Mr.Pres.jpg" class="img-circle" width="325" height="325">
                <div class="caption">
                    <h3>President - Lucas Cramer</h3>
                </div>
                <img src="../img/Mr.Pres2.jpg" class="img-responsive">
            </div>
            <div class="col-md-4 col-sm-4">
                <img src="../img/vp.jpg" class="img-circle" width="325" height="325">
                <div class="caption">
                    <h3>Vice President - Patrick Ford</h3>
                </div>
                <img src="../img/vp2.jpg" class="img-responsive">
                <img src="../img/vp3.jpg" class="img-responsive">
            </div>
            <div class="col-md-4 col-sm-4">
                <img src="../img/communityOutreach.jpg" class="img-circle" width="325" height="325">
                <div class="caption">
                    <h3>Community Outreach - Austin Litten</h3>
                </div>
                <img src="../img/communityOutreach2.jpg" class="img-responsive">
            </div>
        </div>
    </div>


    <hr>
    
    <div class="container" id="contact">
        <h1>Contact Us</h1>
        <hr>
    </div>
    
<% include ./partials/footer %>