<% include ./partials/aheader %>
        <div class="container">
            <div class = "row">
                <div class="col-lg-12">
                    <div id="about-title">
                        <h1>About Us</h1>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container text-center" id="info">
        <h1 class="hideinfo">Info</h1>
        <hr class="hideinfo">
        
        <p class="hideinfo">
            We are the Ski and Snowboard Club at Northern Arizona University! We are dedicated to sharing the art of skiing and snowboarding with anyone interested! 
            We also have a competition team that competes against other colleges around the nation. We also do many activities in the off season including cliff jumping, bonfires, and camping!
        </p>
    </div>
    
    <div class="container">
    <!-- add extra container element for Masonry -->
        <div class="grid">
            <div class="grid-sizer col-md-4 col-sm-12"></div>
            <div class="grid-item col-md-4 col-sm-12">
                <!-- add inner element for column content -->
                <div class="grid-item-content grid-item-content--height1 hideinfo">
                    <img src="../img/distanceBoard.jpg">
                </div>
            </div>
            <div class="grid-item col-md-8 col-sm-12">
                <div class="grid-item-content grid-item-content--height2 hideinfo">
                    <img src="../img/grind2.jpg">
                </div>
            </div>
            <div class="grid-item col-md-4 col-sm-12">
                <div class="grid-item-content grid-item-content--height3 hideinfo">
                    <img src="../img/lift1.jpg">    
                </div>
            </div>
            <div class="grid-item col-md-4 col-sm-12">
                <div class="grid-item-content grid-item-content--height3 hideinfo">
                    <img src="../img/group3.jpg">    
                </div>
            </div>
            <div class="grid-item col-md-12 col-sm-12">
                <div class="grid-item-content grid-item-content--height4 hideinfo">
                    <img src="../img/grind.jpg">    
                </div>
            </div>
        </div>
    </div>
    
    <div class="container hideo" id="officers">
        <h1>Officers</h1>
        <hr>
        <div class="row text-center hideo" id="officer-pics">
            <div class="col-md-4 col-sm-6">
                <img src="../img/Mr.Pres.jpg" class="img-circle">
                <div class="caption">
                    <h3>President - Lucas Cramer</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-6"> 
                <img src="../img/vp.jpg" class="img-circle">
                <div class="caption">
                    <h3>Vice President - Patrick Ford</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="../img/communityOutreach.jpg" class="img-circle">
                <div class="caption">
                    <h3>Community Outreach - Austin Litten</h3>
                </div>
            </div>
        </div>
        
        <div class="grid">
            <div class="grid-sizer col-md-4 col-sm-12"></div>
            <div class="grid-item col-md-4 col-sm-12">
                <!-- add inner element for column content -->
                <div class="grid-item-content grid-item-content--officer1 hideo">
                    <img src="../img/Mr.Pres2.jpg">
                </div>
            </div>
            <div class="grid-item col-md-4 col-sm-12">
                <div class="grid-item-content grid-item-content--officer2 hideo">
                    <img src="../img/vp2.jpg">
                </div>
            </div>
            <div class="grid-item col-md-4 col-sm-12">
                <div class="grid-item-content grid-item-content--officer3 hideo">
                    <img src="../img/communityOutreach2.jpg">    
                </div>
            </div>
            <div class="grid-item col-md-4 col-sm-12">
                <div class="grid-item-content grid-item-content--officer2 hideo">
                    <img src="../img/vp3.jpg">    
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid hidecontact" id="contact">
        <h1>Contact Us</h1>
        <hr>
        <div class="row hidecontact">
            <div class="col-md-4">
                <h3>Follow Us:</h3>
                <a href="https://www.instagram.com/shrednau/?hl=en" class="social-container instagram">
                    <div class="social-cube">
                        <div class="front">
                            Instagram
                        </div>
                        <div class="bottom">
                            @shrednau
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <h3>Facebook:</h3>
                <a href="https://www.facebook.com/NAUSkiandSnowboardTeam/" class="social-container facebook">
                    <div class="social-cube">
                        <div class="front">
                            Facebook
                        </div>
                        <div class="bottom">
                            NAU
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <h3>Email Us:</h3>
                <a href="#" class="social-container gmail">
                    <div class="social-cube">
                        <div class="front">
                            Gmail
                        </div>
                        <div class="bottom">
                            shrednau
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
<% include ./partials/footer %>