<% include ./partials/aheader %>
        <div class="container">
            <div class = "row">
                <div class="col-lg-12">
                    <div id="about-title">
                        <h1>About Us</h1>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="info">
        <h1>Info</h1>
        <hr>
        
        <p>
            We are the Ski and Snowboard Club at Northern Arizona University! We are dedicated to sharing the art of skiing and snowboarding with anyone interested! 
            We also have a competition team that competes against other colleges around the nation. We also do many activities in the off season including cliff jumping, bonfires, and camping!
        </p>
    </div>

<% include ./partials/footer %>