<% include ./partials/hheader %>
<div class="conatainer">
    <div class="row">
        <div class="col-12-lgt">
            <div id="content">
                <h1>Ski and Snowboard Club</h1>
                <hr>
                <h3>Northern Arizona University</h3>
            </div>
        </div>
    </div> 
</div>
<% include ./partials/footer %>