/* css for webpage and sizes follow mobile first design */
body, html {
    height: 100%;
}

.row {
    width: 100%;
}

#logo {
    height: 250%;
}

/********** Background Photos **********/

.home-bg {
    background: url('../img/ski.jpg') no-repeat fixed;
    background-position: center 32%;
    background-size: cover;
}

.events-bg {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../img/snowboard.jpg');
    background-position: 50% 80%;
}

.about-bg {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/group1.jpg');
    background-position: 50% 45%;
    height: 100%;
    position: relative;
    margin-bottom: 25px;
}

.form-bg {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../img/group2.jpg');
    background-position: 40% 35%;
}

.events-bg, .about-bg, .form-bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/********** Navbar Editing **********/

.navbar {
    position: absolute;
    z-index: 10;
    background: #fff;
    width: 100%;
    border: none;
}

/* white underline under nav sections when mouse is hovered over it */
#main-header .navbar-fat .navbar-nav > li > a:hover,
#main-header .navbar-fat .navbar-nav > li > a:focus {
    border-bottom: 1px solid white;
    background-color: transparent;
}

/* when page loads, page section is already underlined */
#main-header .navbar-fat .navbar-nav > li > .active {
    border-bottom: 1px solid white;
}

#main-header .navbar-fat .navbar-nav {
    position: absolute;
    right: 35px;
    display: inline-flex;
}

#main-header .navbar-fat .navbar-nav > li > a {
    padding: 20px 0px 5px 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 10px; 
    text-transform: uppercase;
}

#main-header .navbar-nav > li + li {
    margin-left: 10px;
}

#main-header .navbar-fat {
    background: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,.5) 100%);
    padding: 5px 0px;
}

#main-header .navbar-clean .navbar-nav > li > a {
    color: #fff;
}

/********** Home Page **********/

#home-content {
    display: none;
    padding-top: 18%;
    text-shadow: 0px 4px  3px  rgba(0,0,0,0.4),
                 0px 8px  13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    margin-left: 40px; 
}

#home-content h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#home-content h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

#home-content hr {
    width: 175px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/********** Events Page **********/

#eventContainer {
    margin-bottom: 100px;
}

#event-title {
    display: none;
}

#event-title h1 {
    padding-top: 30%;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#event-title hr {
    width: 125px;
}

.allData {
    display: none;
    color: #fff;
}

.section1 {
    display: inline-block;
    word-wrap: break-word;
}

.section2 {
    clear: left;
}

#date, #end, #name, #location {
    font-family: 'Raleway', sans-serif;
    font-weight: 200; 
    font-size: 18px;
}

#date, #end {
    float: right;
}

#name {
    float: left;
    word-wrap: break-word;
}

#day, #description, #caption {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.descCol {
    margin-left: 20px;
}

#caption {
    color: white;
    text-align: center;
}

/********** About Us Page **********/

#about-title {
    display: none;
    margin-left: 25px;
    padding-left: 25px;
}

#about-title h1 {
    padding-top: 45%;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#about-title hr {
    width: 75px;
    margin-top: -3px;
}

/*Animated Arrow at bottom of background pic*/
.arrow {
    opacity: 0;
    position: absolute;
    bottom: -40%;
    left: 50%;
    top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before, .arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 45%;
    }
  
    70% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

/*info section*/
.hideinfo {
    opacity: 0;
}

.hideo {
    opacity: 0;
}

.hidecontact {
    opacity: 0;
}

#info {
    position: relative;
    margin-top: 25px;
    text-align: center;
    left: 3%;
}

#info h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.75em;
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
}

#info hr {
    width: 60px;
    background-color: #000;    
    height: 1.5px;
}

#info p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 25px;
}

/*masonry layout*/
.grid {
    margin-bottom: 25px;
}

.grid-item-content {
    border: 2.5px solid hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    margin-bottom: 5px;
}

.grid-item-content--height1 {
    height: auto;
    overflow: hidden;  
    display: none;
}

.grid-item-content--height1 img {
    height: auto;
    width: 100%;
}

.grid-item-content--height2 { 
    height: auto; 
    overflow: hidden;
}

.grid-item-content--height2 img {
    height: auto;
    width: 100%;
}

.grid-item-content--height3 {
    height: auto;
    overflow: hidden;
}

.grid-item-content--height3 img {
    height: auto;
    width: 100%;
}

.grid-item-content--height4 {
    height: auto;
    overflow: hidden;
}

.grid-item-content--height4 img {
    height: auto;
    width: 100%;
}

/*officers section*/
#officers {
    position: relative;
    margin-top: 25px;
    left: 2%
}


#officers h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.7em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

#officers h3 {
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

#officers hr {
    width: 100px;
    background-color: #000;    
    height: 1.5px;
}

#officer-pics {
    text-align: center;
}

.img-circle {
    margin-left: 23px;
    margin-top: 25px;
    border: 3px solid hsla(0, 0%, 0%, 0.5);
    width: 125px;
    height: 125px;
}

.caption {
    margin-bottom: 60px;
}

/*officers masonry layout*/
.grid-item-content--officer1 {
    /*height: 320px;*/
    height: auto;
    overflow: hidden;
}

.grid-item-content--officer1 img {
    height: auto;
    width: 100%;
}

.grid-item-content--officer2 {
    /*height: 150px;*/
    height: auto;
    overflow: hidden;
}

.grid-item-content--officer2 img {
    height: auto;
    width: 100%;
}

.grid-item-content--officer3 {
    /*height: 225px;*/
    height: auto;
    overflow: hidden;
}

.grid-item-content--officer3 img {
    height: auto;
    width: 100%;
}

/*contact us section*/
#contact {
    font-family: 'Raleway';
    text-align: center;
    max-width: 550px;
    margin-bottom: 100px;
}

#contact h1 {
    margin-top: 25px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

#contact hr {
    width: 100px;
    background-color: #000;  
    height: 1.5px;
}

#contact h3 {
    margin-left: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #000;    
}

.social-container {
    position: relative;
    display: inline-block;
    width: 164px;
    height: 36px;
    perspective: 300px;
    font-size: 24px;
    margin: 8px;
}

.social-container .social-cube {
    margin-left: 15px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.333s;
    transform: translateZ(-18px);
}

.social-container .social-cube .front, .social-container .social-cube .bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: background 0.333s;
}

.social-container .social-cube .front {
    transform: rotateX(0deg) translateZ(18px);
}

.social-container .social-cube .bottom {
    transform: rotateX(-90deg) translateZ(18px);
}

.social-container:hover .social-cube {
    transform: translateZ(-18px) rotateX(90deg);
}

.social-container.instagram .social-cube .front, .social-container.instagram .social-cube .back {
    background: #4099ff;
}

.social-container.instagram .social-cube .bottom {
    background: #0d7eff;
}

.social-container.instagram:hover .social-cube .bottom {
    background: #4099ff;
}

.social-container.instagram:hover .social-cube .front {
    background: #73b4ff;
}

.social-container.facebook .social-cube .front, .social-container.facebook .social-cube .back {
    background: #3b5998;
}

.social-container.facebook .social-cube .bottom {
    background: #2d4373;
}

.social-container.facebook:hover .social-cube .bottom {
    background: #3b5998;
}

.social-container.facebook:hover .social-cube .front {
    background: #4c70ba;
}

.social-container.gmail .social-cube .front, .social-container.gmail .social-cube .back {
    background: #cc181e;
}

.social-container.gmail .social-cube .bottom {
    background: #9e1317;
}

.social-container.gmail:hover .social-cube .bottom {
    background: #cc181e;
}

.social-container.gmail:hover .social-cube .front {
    background: #e73036;
}

/********** Form Page **********/

#form-title {
    display: none;
}

#form-title h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

label {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #fff;
}

#btn {
    margin-bottom: 10px;
}

.btnSection {
    display: inline;
}

#backbtn {
    float: right;
}

.changeButton a {
    color: white;
    text-decoration: none;
}

#backbtn a {
    color: black;
    text-decoration: none;
}

.actualEdit a {
    color: white;
    text-decoration: none;
}

.actualDelete, .actualEdit {
    margin: 5px;
    float: right;
}

/********** Media Queries **********/

/* For small device display */
@media only screen and (min-width: 768px) {
    #logo {
        height:  300%;
    }
    
    #main-header .navbar-fat .navbar-nav > li > a {
        padding: 40px 0px 10px 0px;
        font-size: 14px;    
    }
    
    #main-header .navbar-nav > li + li {
        margin-left: 20px;
    }
    
    #main-header .navbar-fat {
        padding: 20px 50px 20px 70px;    
    }
    
    /*home page*/
    #home-content {
        padding-top: 9%;
    }
    
    #home-content h1 {
        font-size: 2em;
    }
    
    #home-content h3 {
        font-size: 18px;
    }
    
    #home-content hr {
        width: 250px;
    }
    
    .navbar-nav > li > .dropdown-menu {
        margin-top: 10px;
    }
    
    .dropdown-menu {
        border: none;
        min-width: 150px;
        font-size: 16px;
        border-radius: 0;
        padding: 0px;
    }
    
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: #3d69e7;
    }
    
    .dropdown-menu > li > a {
        padding: 10px 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
    }
    
    /*event page*/
    #event-title h1 {
        padding-top: 20%;
        font-size: 2em;
    }
    
    #event-title hr {
        width: 170px;
    }
    
    .section2 {
        margin-left: 30px;
    }
    
    #date, #end, #name, #location {
        font-size: 20px;
    }
    
    #day, #description, #caption {
        font-size: 12px;
    }
    
    .descCol {
        padding-left: 0;
        margin-left: 5px;
    }
    
    /*about us*/
    #about-title {
        padding-left: 35px;
    }
    
    #about-title h1 {
        padding-top: 33%;
        font-size: 4em;
    }
    
    #about-title hr {
        width: 150px;
    }
    
    .arrow {
        bottom: -40%;
        left: 50%;
        top: 50%;
    }
    
    #info {
        left: 2%;
    }

    #info h1 {
        font-size: 2.75em;
    }

    #info hr {
        width: 100px;
    }

    #info p {
        font-size: 1.2em;
        margin-bottom: 50px;
    }
    
    .grid {
        left: 2%
    }
    
    .grid-item-content--height1 {
        height: auto;
        display: block;
    }

    .grid-item-content--height2 { 
        height: 150px; 
    }

    .grid-item-content--height3 {
        height: auto;
    }

    .grid-item-content--height4 {
        height: 260px;
        margin-bottom: 50px;
    }
    
    #officers {
        left: 2%;
    }

    #officers h1 {
        font-size: 2.75em;
    }

    #officers hr {
        width: 140px;
    }

    .img-circle {
        margin-top: 50px;
        width: 150px;
        height: 150px;
    }
    
    .grid-item-content--officer1 {
        height: auto;
    }

    .grid-item-content--officer2 {
        height: auto;
    }

    .grid-item-content--officer3 {
        height: auto;
    }
    
    #contact {
        left: 5%;
        max-width: 550px;
        margin-bottom: 100px;
    }

    #contact h1 {
        margin-top: 50px;
        font-size: 2.75em;
    }

    #contact hr {
        width: 150px;
    }

    #contact h3 {
        margin-left: 0px;
        font-size: 1.3em;  
    }

    .social-container .social-cube {
        margin-left: 15px;
    }
}

/* For medium device display */
@media only screen and (min-width: 992px) {
    #logo {
        height: 450%;
    }
    
    #main-header .navbar-fat .navbar-nav > li > a {
        padding: 40px 0px 10px 0px;
        font-size: 16px;    
    }
    
    #main-header .navbar-nav > li + li {
        margin-left: 20px;
    }
    
    #main-header .navbar-fat {
        padding: 20px 20px 20px 70px;    
    }
    
    /*home page*/
    #home-content {
        padding-top: 3.5%;
        margin-left: 120px;
    }
    
    #home-content h1 {
        font-size: 2.8em;
    }
    
    #home-content h3 {
        font-size: 22px;
    }
    
    #home-content hr {
        width: 360px;
    }
    
    /*event page*/
    #event-title h1 {
        padding-top: 15%;
        font-size: 2.5em;
    }
    
    #event-title hr {
        width: 200px;
    }
    
    #date, #end, #name, #location {
        font-size: 22px;
    }
    
    #day, #description, #caption {
        font-size: 14px;
    }
    
    /*about us page*/
    #about-title {
        padding-left: 60px;
    }
    
    #about-title h1 {
        padding-top: 21%;
        font-size: 4.75em;
    }
    
    #about-title hr {
        width: 200px;
    }
    
    #info {
        left: 1%;
    }

    #info h1 {
        font-size: 3em;
    }

    #info hr {
        width: 100px;
    }

    #info p {
        font-size: 1.25em;
        margin-bottom: 50px;
    }
    
    .grid {
        left: 1%;
    }

    .grid-item-content--height1 {
        /*height: 475px; */
        height: auto;
    }

    .grid-item-content--height2 { 
        /*height: 250px; */
        height: 210px;
    }

    .grid-item-content--height3 {
        /*height: 220px;*/
        height: auto;
    }

    .grid-item-content--height4 {
        height: 400px;
        margin-bottom: 50px;
    }
    
    #officers {
        left: 1%;
    }

    #officers h1 {
        font-size: 3em;
    }

    #officers h3 {
        font-size: 1.5em;
    }

    #officers hr {
        width: 150px;
    }

    .img-circle {
        margin-top: 50px;
        width: 150px;
        height: 150px;
    }
    
    .grid-item-content--officer1 {
        /*height: 550px;*/
        height: auto;
    }

    .grid-item-content--officer2 {
        /*height: 230px;*/
        height: auto;
        margin-bottom: 50px;
    }

    .grid-item-content--officer3 {
        height: auto;
        /*height: 340px;*/
    }

    #contact {
        max-width: 550px;
        margin-bottom: 100px;
        /*margin-left: 20px;*/
    }

    #contact h1 {
        margin-top: 50px;
        font-size: 3em;
    }

    #contact hr {
        width: 150px;
    }

    #contact h3 {
        margin-left: 20px;
        font-size: 1.5em;  
    }

    .social-container .social-cube {
        margin-left: 20px;
    }
}

/* For large device display*/
@media only screen and (min-width: 1600px) {
    #logo {
        height: 600%;
    }
    
    /* Navbar */
    #main-header .navbar-fat .navbar-nav > li > a {
        padding: 55px 0px 10px 0px;
        font-size: 20px;    
    }
    
    #main-header .navbar-fat {
        padding: 20px 60px 20px 80px;    
    }
    
    /* Home Page */ 
    #home-content {
        padding-top: 7%;
    }
    
    #home-content h1 {
        font-size: 3.5em;
    }
    
    #home-content h3 {
        font-size: 24px;
    }
    
    #home-content hr {
        width: 400px;
    }
    
    /* Event Page */
    #event-title h1 {
        padding-top: 11%;
        font-size: 3.75em;
    }
    
    #event-title hr {
        width: 325px;
    }
    
    #date, #end, #name, #location {
        font-size: 24px;
    }
    
    /* About Us Page */
    .about-bg {
        background-position: 0% 45%;
    }
    
    #about-title {
        padding-left: 36px;
    }
    
    #about-title h1 {
        padding-top: 27%;
        font-size: 5em;
    }
    
    #about-title hr {
        width: 200px;
    }

    #info h1 {
        font-size: 3.5em;
    }

    #info hr {
        width: 100px;
    }

    #info p {
        font-size: 1.5em;
    }
    
    .grid-item-content--height1 {
        height: 475px; 
    }

    .grid-item-content--height2 { 
        height: 250px; 
    }

    .grid-item-content--height3 {
        height: 220px;
        height: auto;
    }
    
    #officers {
        margin-top: 50px;
    }

    #officers h1 {
        font-size: 3.5em;
    }

    #officers h3 {
        font-size: 2em;
    }

    #officers hr {
        width: 200px;
    }

    .img-circle {
        margin-top: 50px;
        width: 175px;
        height: 175px;
    }
    
    .grid-item-content--officer1 {
        height: 560px;
    }

    .grid-item-content--officer2 {
        height: 240px;
        margin-bottom: 50px;
    }

    .grid-item-content--officer3 {
        height: 350px;
    }
    
    #contact h1 {
        font-size: 3.5em;
    }

    #contact hr {
        width: 200px;
    }

    #contact h3 {
        font-size: 2em;  
    }

    .social-container .social-cube {
        margin-left: 0px;
    }
    
    /* Form Page */
    #form-title hr {
        width: 225px;
    }
}
