/* css for webpage and sizes follow mobile first design */
body, html {
    height: 100%;
    background-color: #f8f9f8;
}

#logo {
    height: 250%;
}

/********** Background Photos **********/

.home-bg {
    background: url('../img/ski.jpg') no-repeat fixed;
    background-position: center 32%;
    background-size: cover;
}

.events-bg {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/snowboard.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 80%;
    background-size: cover;
}

.about-bg {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/group1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0% 45%;
    height: 100%;
    position: relative;
    margin-bottom: 25px;
}

.form-bg {
    background: url('../img/grind.jpg') no-repeat fixed;
    background-size: cover;
}

/********** Navbar Editing **********/

.navbar {
    position: absolute;
    z-index: 10;
    background: #fff;
    width: 100%;
    border: none;
}

/* white underline under nav sections when mouse is hovered over it */
#main-header .navbar-fat .navbar-nav > li > a:hover,
#main-header .navbar-fat .navbar-nav > li > a:focus {
    border-bottom: 1px solid white;
    background-color: transparent;
}

/* when page loads, page section is already underlined */
#main-header .navbar-fat .navbar-nav > li > .active {
    border-bottom: 1px solid white;
}

#main-header .navbar-fat .navbar-nav {
    position: absolute;
    right: 35px;
    display: inline-flex;
}

#main-header .navbar-fat .navbar-nav > li > a {
    padding: 20px 0px 5px 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 10px; 
    text-transform: uppercase;
}

#main-header .navbar-nav > li + li {
    margin-left: 10px;
}

#main-header .navbar-fat {
    background: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,.5) 100%);
    padding: 5px 0px;
}

#main-header .navbar-clean .navbar-nav > li > a {
    color: #fff;
}

/********** Home Page **********/

#home-content {
    display: none;
    padding-top: 18%;
    text-shadow: 0px 4px  3px  rgba(0,0,0,0.4),
                 0px 8px  13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

#home-content h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#home-content h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

#home-content hr {
    width: 175px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/********** Events Page **********/

#event-title {
    display: none;
}

#event-title h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

/********** About Us Page **********/

#about-title {
    display: none;
}

#about-title h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

/*Animated Arrow at bottom of background pic*/
.arrow {
    opacity: 0;
    position: absolute;
    bottom: -40%;
    left: 50%;
    top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before, .arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 45%;
    }
  
    70% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

/*info section*/
.hideinfo, .hidecontact, .hideo {
    opacity: 0;
}

#info {
    position: relative;
    left: 0.7%;
    margin-top: 25px;
}

#info h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
}

#info hr {
    width: 100px;
    background-color: #000;    
    height: 2px;
}

#info p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 50px;
}

/*masonry layout*/
.grid {
    margin-bottom: 50px;
}

.grid-item-content {
  border: 2.5px solid hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin-bottom: 5px;
}

.grid-item-content--height1 {
    height: 475px;
    overflow: hidden;  
}

.grid-item-content--height1 img {
    height: auto;
    width: 100%;
}

.grid-item-content--height2 { 
    height: 256px; 
    overflow: hidden;
}

.grid-item-content--height2 img {
    height: auto;
    width: 100%;
}

.grid-item-content--height3 {
    height: 220px;
    overflow: hidden;
}

.grid-item-content--height3 img {
    height: auto;
    width: 100%;
}

.grid-item-content--height4 {
    height: 400px;
    overflow: hidden;
}

.grid-item-content--height4 img {
    height: auto;
    width: 100%;
}

/*officers section*/
#officers {
    position: relative;
    left: 0.7%;
    width: 1400px;
    margin-top: 50px;
}


#officers h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

#officers h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 2em;
}

#officers hr {
    width: 200px;
    background-color: #000;    
    height: 2px;
}

.img-circle {
    margin-top: 50px;
    border: 3px solid hsla(0, 0%, 0%, 0.5);
    width: 175px;
    height: 175px;
}

.caption {
    margin-bottom: 60px;
}

/*officers masonry layout*/
.grid-item-content--officer1 {
    height: 560px;
    overflow: hidden;
}

.grid-item-content--officer1 img {
    height: auto;
    width: 100%;
}

.grid-item-content--officer2 {
    height: 240px;
    overflow: hidden;
    margin-bottom: 50px;
}

.grid-item-content--officer2 img {
    height: auto;
    width: 100%;
}

.grid-item-content--officer3 {
    height: 350px;
    overflow: hidden;
}

.grid-item-content--officer3 img {
    height: auto;
    width: 100%;
}

/*contact us section*/
#contact h1 {
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

#contact hr {
    width: 200px;
    background-color: #000;    
    height: 2px;
}

#contact h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #000;    
}

#about-body hr {
    height: 2px;
    background-color: #000; 
}

#contact {
    font-family: 'Raleway';
    /*display: flex;*/
    /*height: 100vh;*/
    /*margin: 0;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    text-align: center;
    max-width: 550px;
    margin-bottom: 100px;
}

.social-container {
    position: relative;
    display: inline-block;
    width: 164px;
    height: 36px;
    perspective: 300px;
    font-size: 24px;
    margin: 8px;
}

.social-container .social-cube {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.333s;
    transform: translateZ(-18px);
}

.social-container .social-cube .front, .social-container .social-cube .bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: background 0.333s;
}

.social-container .social-cube .front {
    transform: rotateX(0deg) translateZ(18px);
}

.social-container .social-cube .bottom {
    transform: rotateX(-90deg) translateZ(18px);
}

.social-container:hover .social-cube {
    transform: translateZ(-18px) rotateX(90deg);
}

.social-container.instagram .social-cube .front, .social-container.instagram .social-cube .back {
    background: #4099ff;
}

.social-container.instagram .social-cube .bottom {
    background: #0d7eff;
}

.social-container.instagram:hover .social-cube .bottom {
    background: #4099ff;
}

.social-container.instagram:hover .social-cube .front {
    background: #73b4ff;
}

.social-container.facebook .social-cube .front, .social-container.facebook .social-cube .back {
    background: #3b5998;
}

.social-container.facebook .social-cube .bottom {
    background: #2d4373;
}

.social-container.facebook:hover .social-cube .bottom {
    background: #3b5998;
}

.social-container.facebook:hover .social-cube .front {
    background: #4c70ba;
}

.social-container.gmail .social-cube .front, .social-container.gmail .social-cube .back {
    background: #cc181e;
}

.social-container.gmail .social-cube .bottom {
    background: #9e1317;
}

.social-container.gmail:hover .social-cube .bottom {
    background: #cc181e;
}

.social-container.gmail:hover .social-cube .front {
    background: #e73036;
}

/********** Form Page **********/

#form-title {
    display: none;
}

#form-title h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

/********** Media Queries **********/

/* For small device display */
@media only screen and (min-width: 768px) {
    #logo {
        height:  300%;
    }
    
    #main-header .navbar-fat .navbar-nav > li > a {
        padding: 40px 0px 10px 0px;
        font-size: 14px;    
    }
    
    #main-header .navbar-nav > li + li {
        margin-left: 20px;
    }
    
    #main-header .navbar-fat {
        padding: 20px 50px 20px 70px;    
    }
    
    #home-content {
        padding-top: 9%;
    }
    
    #home-content h1 {
        font-size: 2em;
    }
    
    #home-content h3 {
        font-size: 18px;
    }
    
    #home-content hr {
        width: 250px;
    }
    
    .navbar-nav > li > .dropdown-menu {
        margin-top: 10px;
    }
    
    .dropdown-menu {
        border: none;
        min-width: 150px;
        font-size: 16px;
        border-radius: 0;
        padding: 0px;
    }
    
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: #3d69e7;
    }
    
    .dropdown-menu > li > a {
        padding: 10px 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
    }
}

/* For medium device display */
@media only screen and (min-width: 992px) {
    #logo {
        height: 450%;
    }
    
    #main-header .navbar-fat .navbar-nav > li > a {
        padding: 40px 0px 10px 0px;
        font-size: 18px;    
    }
    
    #main-header .navbar-nav > li + li {
        margin-left: 20px;
    }
    
    #main-header .navbar-fat {
        padding: 20px 20px 20px 70px;    
    }
    
    #home-content {
        padding-top: 3.5%;
    }
    
    #home-content h1 {
        font-size: 3em;
    }
    
    #home-content h3 {
        font-size: 22px;
    }
    
    #home-content hr {
        width: 360px;
    }
}

/* For large device display*/
@media only screen and (min-width: 1200px) {
    #logo {
        height: 600%;
    }
    
    /* Navbar */
    #main-header .navbar-fat .navbar-nav > li > a {
        padding: 55px 0px 10px 0px;
        font-size: 20px;    
    }
    
    #main-header .navbar-fat {
        padding: 20px 60px 20px 80px;    
    }
    
    /* Home Page */ 
    #home-content {
        padding-top: 7%;
    }
    
    #home-content h1 {
        font-size: 3.5em;
    }
    
    #home-content h3 {
        font-size: 24px;
    }
    
    #home-content hr {
        width: 400px;
    }
    
    /* Event Page */
    #event-title h1 {
        padding-top: 11%;
        font-size: 3.75em;
    }
    
    #event-title hr {
        width: 325px;
    }
    
    /* About Us Page */
    #about-title h1 {
        padding-top: 27%;
        font-size: 5em;
    }
    
    #about-title hr {
        width: 200px;
    }
    
    /* Form Page */
    #form-title hr {
        width: 225px;
    }
}